[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HARModel"]
	path = HARModel
	url = https://github.com/emilsjoerup/harmodel
	shallow = true
	registered = true
