[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DriftBurstHypothesis"]
	path = DriftBurstHypothesis
	url = https://github.com/emilsjoerup/driftbursthypothesis
[submodule "HARModel"]
	path = HARModel
	url = https://github.com/emilsjoerup/harmodel
